{% extends "template.html" %}
{% block head %}
  {{super()}}
  <title>{% block title %}Administrator{% endblock %}</title>
  <style>
    #button {
      position: relative;
      left: 29%;
    }
    #delete-icon {
      width: 30px;
    }
    #edit-icon {
      width: 20px;
    }
    @media only screen and (max-width: 600px) {
      #button {
        position: relative;
        left: 10%;
        width: 10%;
      }
    }
  </style>
{% endblock %}
{% block menu %}
  {{super()}}
{% endblock %}
{% block content %}
  {{super()}}
  <div class="container">
  <h1>Administrator dashboard</h1>
  <h3>Articoli</h3>
  <h3>Visite: {{visits}}</h3>
  <table class="table">
    <tr class="table-dark">
      <th>Titolo</th>
      <th>Data pubblicazione</th>
      <th>Categoria</th>
      <th></th>
    </tr>
    {% for a in articles %}
      <tr class="table-light">
        <td>{{a.titolo}}</td>
        <td>{{a.data_pubblicazione}}</td>
        <td>{{a.categoria}}</td>
        <td>
          <div class="btn-group" role="group">
            <a href="/admin/delete-article/{{a.titolo}}"><img id="delete-icon" src="{{url_for('static', filename='images/icons/delete_icon.png')}}"></a>
            <a href="/admin/edit-article/{{a.titolo}}"><img id="edit-icon" src="{{url_for('static', filename='images/icons/edit_icon.png')}}"></a>
          </div>
        </td>
      </tr>
    {% endfor %}
  </table>
  <h3>Giochi</h3>
  <table class="table">
    <tr class="table-dark">
      <th>Titolo</th>
      <th>Descrizione</th>
      <th>Downloads</th>
      <th></th>
    </tr>
    {% for g in games %}
      <tr class="table-light">
        <td>{{g.titolo}}</td>
        <td>{{g.descrizione}}</td>
        <td>{{g.downloads}}</td>
        <td>
          <div class="btn-group" role="group">
            <a href="/admin/delete-game/{{g.titolo}}"><img id="delete-icon" src="{{url_for('static', filename='images/icons/delete_icon.png')}}"></a>
            <a href="/admin/edit-game/{{g.titolo}}"><img id="edit-icon" src="{{url_for('static', filename='images/icons/edit_icon.png')}}"></a>
          </div>
        </td>
      </tr>
    {% endfor %}
  </table>
  <a id="button" href="{{url_for('admin.add_article')}}"><button class="btn btn-dark">Aggiungi articolo</button></a>
  <a id="button" href="{{url_for('admin.add_game')}}"><button class="btn btn-dark">Aggiungi gioco</button></a>
  <a id="button" href="{{url_for('admin.add_admin')}}"><button class="btn btn-dark">Aggiungi utente admin</button></a>

  <h1>Segnalazioni o domande</h1>
  {% for s in segnalazioni %}
    <p>{{s.testo}}</p>
  {% endfor %}
</div>
{% endblock %}