{% extends "template.html" %}
{% block head %}
  {{super()}}
  <title>{% block title %}Aggiungi gioco{% endblock %}</title>
  <style>
    #form {
      position: relative;
      left: 20%;
    }
  </style>
{% endblock %}
{% block menu %}
  {{super()}}
{% endblock %}
{% block content %}
  {{super()}}
  <div id="form" class="container-fluid">
    <h1>Modifica gioco</h1>
    <h3>Qui puoi modificare il gioco {{game.titolo}}</h3><br>
    <form method="POST" enctype="multipart/form-data">
      <input style="width: 50%;" value="{{game.titolo}}" placeholder="Titolo" class="form-control" type="text" name="titolo"><br>
      <textarea style="width: 50%;" placeholder="Descrizione" class="form-control" rows="10" name="descrizione">{{game.descrizione}}</textarea><br>
      <input type="submit" value="Pubblica gioco" class="btn btn-dark">
    </form>
  </div>
{% endblock %}