{% extends "template.html" %}
{% block head %}
  {{super()}}
  <title>{% block title %}Aggiungi articolo{% endblock %}</title>
  <style>
    #form {
      position: relative;
      left: 20%;
    }
  </style>
{% endblock %}
{% block menu %}
  {{super()}}
  {% block dropdown_content %}
      <ul class="dropdown-menu">
        {% if session %}
          <li><a class="dropdown-item" href="/user/{{name}}/myProfile">{{name}}</a></li>
          <li><a class="dropdown-item" href="{{url_for('logout')}}">Esci</a></li>
          <li><a class="dropdown-item" href="{{url_for('admin.index')}}">Pannello di controllo</a></li>
        {% else %}
          <li><a class="dropdown-item" href="{{url_for('login')}}">Accedi</a></li>
          <li><a class="dropdown-item" href="{{url_for('signup')}}">Registrati</a></li>
          <li><a class="dropdown-item" href="{{url_for('admin.dashboard')}}">Pannello di controllo</a></li>
          <li class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Privacy</a></li>
        {% endif %}
      </ul>
    {% endblock %}
{% endblock %}
{% block content %}
  {{super()}}
  <div id="form" class="container-fluid">
    <h1>Aggiungi admin</h1>
    <h3>Qui puoi aggiungere account amministratori</h3><br>
    <form method="POST" enctype="multipart/form-data">
      <input style="width: 50%;" placeholder="Username" class="form-control" type="text" name="username"><br>
      <input style="width: 50%;" placeholder="Email" class="form-control" type="email" name="email"><br>
      <input style="width: 50%;" placeholder="Password" class="form-control" type="password" name="password"><br>
      <input type="submit" value="Aggiungi admin" class="btn btn-dark">
    </form>
  </div>
{% endblock %}