{% extends "template.html" %}
{% block head %}
  {{super()}}
  <title>{% block title %}Administrator{% endblock %}</title>
  <style>
    #button {
      position: relative;
      left: 29%;
    }
    @media only screen and (max-width: 600px) {
      #button {
        position: relative;
        left: 10%;
        width: 10%;
      }
    }
  </style>
{% endblock %}
{% block menu %}
  {{super()}}
{% endblock %}
{% block content %}
  {{super()}}
  <h1>Administrator dashboard</h1>
  <h3>Articoli</h3>
  <h3>Visite: {{visits}}</h3>
  <table class="table">
    <tr class="table-dark">
      <th>Titolo</th>
      <th>Data pubblicazione</th>
      <th>Categoria</th>
      <th></th>
    </tr>
    {% for a in articles %}
      <tr class="table-light">
        <td>{{a[0]}}</td>
        <td>{{a[1]}}</td>
        <td>{{a[2]}}</td>
        <td>
          <div class="btn-group" role="group">
            <a href="/admin/delete-article/{{a[0]}}"><button class="btn btn-dark">Cancella</button></a>
            <a href="/admin/edit-article/{{a[0]}}"><button class="btn btn-dark">Modifica</button></a>
          </div>
        </td>
      </tr>
    {% endfor %}
  </table>
  <h3>Giochi</h3>
  <table class="table">
    <tr class="table-dark">
      <th>Titolo</th>
      <th>Descrizione</th>
      <th>Downloads</th>
      <th></th>
    </tr>
    {% for g in games %}
      <tr class="table-light">
        <td>{{g[0]}}</td>
        <td>{{g[1]}}</td>
        <td>{{g[2]}}</td>
        <td>
          <div class="btn-group" role="group">
            <a href="/admin/delete-game/{{g[0]}}"><button class="btn btn-dark">Cancella</button></a>
            <a href="/admin/edit-game/{{g[0]}}"><button class="btn btn-dark">Modifica</button></a>
          </div>
        </td>
      </tr>
    {% endfor %}
  </table>
  <a id="button" href="{{url_for('admin.add_article')}}"><button class="btn btn-dark">Aggiungi articolo</button></a>
  <a id="button" href="{{url_for('admin.add_game')}}"><button class="btn btn-dark">Aggiungi gioco</button></a>
  <a id="button" href="{{url_for('admin.add_admin')}}"><button class="btn btn-dark">Aggiungi utente admin</button></a>
{% endblock %}