{% extends "template.html" %}
{% block head %}
  {{super()}}
  <title>{% block title %}Administrator{% endblock %}</title>
  <style>
    #button {
      position: relative;
      left: 35%;
    }
    @media only screen and (max-width: 600px) {
      #button {
        position: relative;
        left: 10%;
      }
    }
  </style>
{% endblock %}
{% block menu %}
  {{super()}}
{% endblock %}
{% block content %}
  {{super()}}
  <table class="table">
    <tr class="table-dark">
      <th>Titolo</th>
      <th>Data pubblicazione</th>
      <th>Categoria</th>
      <th></th>
    </tr>
    {% for a in articles %}
      <tr class="table-light">
        <td>{{a[0]}}</td>
        <td>{{a[1]}}</td>
        <td>{{a[2]}}</td>
        <td><a href="/admin/delete-article/{{a[0]}}"><button class="btn btn-dark">Cancella</button></a></td>
      </tr>
    {% endfor %}
  </table>
  <a id="button" href="{{url_for('admin.add_article')}}"><button class="btn btn-dark">Aggiungi articolo</button></a>
  <a id="button" href="{{url_for('admin.add_game')}}"><button class="btn btn-dark">Aggiungi gioco</button></a>
{% endblock %}