{% extends "template.html" %}

{% block head %}
  {{super()}}
  <title>{% block title %}VideoGamesHub - Contatti{% endblock %}</title>
{% endblock %}
{% block menu %}
  {{super()}}
{% endblock %}
{% block content %}
  {{ super() }}
<h1>CONTATTI</h1>
<h3>Chi sono?</h3>
<p>
    Sono Davide Costantini, un ragazzo di 19 anni appassionato di videogiochi.<br>
    Sono uno studente di informatica al IIS. Corni di Modena e questo e&grave;<br>
    il mio sito web.
</p>
<h3>Contatti</h3>
  <p>Email: videogameshub01@gmail.com</p>
  <p>Instagram: videogameshub_</p>
{% endblock %}