{% extends "template.html" %}
{% block head %}
  {{super()}}
  <title>{% block title %}Giochi{% endblock %}</title>
{% endblock %}
{% block menu %}
  {{super()}}
{% endblock %}
{% block content %}
  {{super()}}
  <h1>GIOCHI</h1>
    <table class="table">
      <tr class="table-dark">
        <th>Titolo</th>
        <th>Descrizione</th>
        <th>Downloads</th>
        <th>Scarica ora</th>
      </tr>
      {%for f in data%}
        <tr class="table-light">
          <td>{{f.titolo}}</td>
          <td>{{f.descrizione|safe}}</td>
          <td>{{f.downloads}}</td>
          <td><a style="color: blue;" href="/games/?filename={{f.nome_file}}"><button class="btn btn-dark">Download</button></a></td>
        </tr>
      {%endfor%}
    </table>
{% endblock %}