{% extends "template.html" %}
{% block head %}
  {{super()}}
  <title>{% block title %}Accedi{% endblock %}</title>
  <style>
    #buttonSend {
      width: 40%;
    }
    #textInput {
      width: 40%;
    }
    h1 {
      padding-left: 35%;
    }
    #alert {
      width: 50%;
    }
    @media only screen and (max-width: 600px) {
      #buttonSend {
        width: 100%;
      }
      #textInput {
        width: 100%;
      }
      form {
        padding-left: 0%;
      }
      h1 {
        padding-left: 0%;
      }
      #alert {
        width: 100%;
      }
    }
  </style>
{% endblock %}
{% block menu %}
  {{super()}}
{% endblock %}
{% block content %}
  {{super()}}
  <h1>Accedi - Registrati</h1><br><br><br><br>
  <form id="form" method="POST">
    <input type="text" name="username" class="form-control" id="textInput" placeholder="Username"><br>
    <input type="password" name="password" class="form-control" id="textInput" placeholder="Password"><br>
    <input type="submit" class="btn btn-dark" id="buttonSend" value="Accedi"><br>
    <a href="{{url_for('signup')}}">Non sei registrato?</a>
    {% if error %}
      <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{error}}
        <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  </form>
  <script type="text/javascript" src="{{url_for('static', filename='javascript/animate_form.js')}}"></script>
{% endblock %}
