<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/menu.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <script src="{{url_for('static', filename='javascript/jquery.js')}}"></script>
    <title>VideoGames Hub - Accedi o registrati</title>
  </head>
  <header>
    <div class="img-block"><img src="{{url_for('static', filename='images/LOGOsmall.png')}}" alt="VideoGames Hub logo"><br></div>
    <h1></h1>
    <div class="menu">
      <button class="menu-btn"> MENU
        <ul class="menu-content">
          <li><a href="{{url_for('index')}}">HOME</a></li>
        </ul>
      </button>
    </div>
  </header>
  <body>
    <br>
    <form class="form" method="POST">
      <input class="username-input" type="text" placeholder="Username" name="username"><br>
      <input class="passwd-input" type="password" placeholder="Password" name="password"><br>
      <input class="login-btn" type="submit" value="Accedi">
      <a class="signup-link" href="{{url_for('signup')}}"><p>Non sei registrato?</p></a>
    </form>
  </body>
  <footer>

  </footer>
</html>
