{% extends "template.html" %}
{% block head %}
  {{super()}}
  <title>{% block title %}Registrati{% endblock %}</title>
  <style>
    #buttonSend {
      width: 100%;
    }
    h1 {
      position: relative;
      left: 41%;
    }
  </style>
{% endblock %}
{% block menu %}
  {{super()}}
{% endblock %}
{% block content %}
  {{super()}}
  <h1>Accedi - Registrati</h1><br><br><br><br>
  <form class="col-lg-6 offset-lg-5" method="POST">
    <div class="col-lg-6">
      <div class="col-sm-10">
        <input type="email" name="email" class="form-control" placeholder="Email">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="col-sm-10">
        <input type="text" name="username" class="form-control" id="formGroupExampleInput2" placeholder="Username">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="col-sm-10">
        <input type="password" name="password" class="form-control" id="inputPassword" aria-describedby="passwordHelpInLine" placeholder="Password">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="col-sm-10">
        <input type="submit" class="btn btn-primary" id="buttonSend" value="Login">
      </div>
    </div>
    <a href="{{url_for('login')}}">Hai già un account?</a>
  </form>
{% endblock %}
