{% extends "template.html" %}
{% block head %}
  {{super()}}
  <title>{% block title %}VideoGamesHub - Articoli{% endblock %}</title>
  <style>
    .article-img {
      height: 400px;
      position: relative;
      left: 40%;
    }
    @media only screen and (max-width: 600px) {
      .article-img {
        height: 400px;
        position: relative;
        left: 10%;
      }
    }
  </style>
{% endblock %}
{% block menu %}
  {{super()}}
{% endblock %}
{% block content %}
  {{super()}}
  {%for row in data%}
      <a style="color: black;" href="/articles/view/{{row[0]}}"><h2 style="text-align: center;" >{{row[0]}}</h2></a>      
        <img class="article-img" src="{{url_for('static', filename='uploads/'+row[2])}}">
        <p>Categoria: {{row[3]}}</p>
        <p>Data pubblicazione: {{row[4]}}</p>
        <p>Visualizzazioni: {{row[5]}}</p>
    {%endfor%}
{% endblock %}