{% extends "template.html" %}
{% block head %}
  {{super()}}
  <title>{% block title %}Ultime notizie{% endblock %}</title>
  <style>
    @font-face {
      font-family: Hack;
      src: url("{{url_for('static', filename='fonts/Hack-Regular.ttf')}}");
    }
    @font-face {
      font-family: BoldHack;
      src: url("{{url_for('static', filename='fonts/Hack-Bold.ttf')}}");
    }
    .article-img {
      height: 200px;
      width: 400px;
      position: relative;
      left: 5%;
      padding-bottom: 2%;
    }
    #label {
      font-family: BoldHack;
    }
    #details {
      position: relative;
      right: 10%;
    }
    @media only screen and (max-width: 600px) {
      .article-img {
        height: 200px;
        width: 250px;
        position: relative;
        left: 1%;
      }
      #details {
        position: relative;
        right: 0%;
      }
    }
  </style>
{% endblock %}
{% block menu %}
  {{super()}}
{% endblock %}
{% block content %}
  {{super()}}
  <h1 style="font-family: Impact;">Ultime notizie</h1>
  {%for row in data%}
        <div id="article" class="container-fluid">
          <div class="row">
            <div class="col-sm">
              <img class="article-img" src="{{url_for('static', filename='uploads/'+row.immagini)}}">
            </div>
            <div id="details" class="col-sm">
              <a style="color: black;" href="/articles/view/{{row.titolo}}"><h2 style="font-family: Hack;" >{{row.titolo}}</h2></a>
              {{row.anteprima|safe}}
              <p id="label">Categoria: <span style="font-family: Hack;">{{row.categoria}} | </span>
              <span id="label">Data pubblicazione: <span style="font-family: Hack;">{{row.data_pubblicazione}} | </span></span>
              <span id="label">Visualizzazioni: <span style="font-family: Hack;">{{row.visualizzazioni}}</span></p>
            </div>
          </div>
        </div>
    {%endfor%}
{% endblock %}